@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  font-family: "Cabin", sans-serif;

  &-logo {
    padding: 0 1em;
    font-weight: 500;
  }

  &-list {
    list-style-type: none;
    display: flex;
    &-element {
      padding: 0 1em;
    }
  }
}
